body {
    text-align: center;
    display: inline-block;
    padding-left: 40%;
    padding-top: 5%;
    font-size: 16px;
}

.button-field {
   background-color: burlywood;
   border: 0.125em darkblue solid;
}

.button {
    border:none;
    background-color: darkslategrey;
    color: antiquewhite;
    text-align: center;
    display: inline-block;
    padding: 0.9em;
    text-decoration: none;
    border-radius: 50%;
    transition-duration: 0.4s;
    width: 3.1em;
}

.button:hover {
    background-color: orange;
    color: darkslategrey;
}

.button:active {
    background-color: darkorange;
    box-shadow: 0 0.5em #666;
}